.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  min-width: 188px;
  margin-top: 2vh;
}

.header__title {
  margin: 5% 0 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.header__span {
  display: block;
}

.header__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 5%;
}

.header__image {
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 254px;
  }

  .header__title {
    font-size: 75px;
    line-height: 79px;
  }
}
