.shop {
  padding: 0 min(10vw, 150px);
}

.shop__item {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "title artist"
    "image description"
    "button description";
  margin: 5vh 0;
}

.shop__title {
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
}

.shop__span {
  display: block;
}

.shop__wrapper {
  grid-area: image;
  position: relative;
  width: 100%;
  /* max-width: 460px; */
  aspect-ratio: 1/1;
  overflow: hidden;
  align-self: flex-end;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.shop__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.shop__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 2;
}

.shop__wrapper:hover .shop__overlay {
  opacity: 0.5;
}

.shop__artist {
  grid-area: artist;
  align-self: end;
}

.shop__artist-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shop__artist-header {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 12%;
  color: #aaa;
}

.shop__artist-name {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.shop__description {
  grid-area: description;
  margin: 0;
  font-size: 18px;
  line-height: 163%;
}

.shop__button-wrapper {
  position: relative;
  max-width: 290px;
  max-height: 50px;
}

.shop__button {
  grid-area: button;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#0278fe, #003a7b);
  border-style: none;
  color: white;
  border-radius: 2%;
  padding: 12px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.shop__button-wrapper:hover .shop__overlay {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .shop {
    padding: 0 5vw;
  }

  .shop__item {
    gap: 5vw;
  }

  .shop__title {
    font-size: 42px;
    line-height: 46px;
  }

  .shop__span {
    display: inline;
  }

  .shop__artist-header {
    font-size: 12px;
  }

  .shop__artist-name {
    font-size: 18px;
    line-height: 22px;
  }

  .shop__description {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 544px) {
  .shop__item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "title"
      "artist"
      "image"
      "description"
      "button";
  }
}
